/*-----------------------GENERAL CSS------------------------*/
.body {
  display: flex;
  padding-left: 120px;
  padding-top: 150px;
}

/*-----------------------LANDING CSS------------------------*/
.front_image {
  position: absolute;
  width: 720px;
  height: 423px;
}

.big_heading {
  position: absolute;
  width: 572px;
  height: 450px;
  left: 860px;

  font-family: Mulish;
  font-style: normal;
  font-weight: bolder;
  font-size: 100px;
  line-height: 110px;

  color: #2f3136;
}

.subtitle {
  position: absolute;
  width: 510px;
  height: 90px;
  left: 860px;
  top: 490px;

  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;

  color: #000000;
}

.arrow {
  position: absolute;
  width: 50px;
  height: 60px;
  left: 695px;
  top: 615px;
}

.next_header {
  position: absolute;
  width: 968px;
  height: 85px;
  left: 235px;
  top: 640px;

  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 51px;
  line-height: 80px;
  text-align: center;

  color: #000000;
}

.pics {
  position: absolute;
  width: 333px;
  height: 333px;
  left: 120px;
  top: 820px;
}

.pic_buttons {
  position: absolute;
  color: white;
  font-weight: bold;
  top: 1400px;
  left: 120px;
  background-color: #2f3136;
  padding: 10px;
  border-radius: 12px;
  border: none;
  width: auto;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.pic_button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.mailchimp {
  background: #fff;
  clear: left;
  font: 14px;
  width: 100%;
}

/*-----------------------ABOUT US CSS------------------------*/

.blob {
  position: absolute;
  top: 130px;
  width: 540px;
  height: 500px;
  left: 0px;
}

.officer_grid {
  display: grid;
  padding-right: 40px;
  grid-template-columns: auto auto auto auto auto auto;
  grid-row-gap: 20px;
  grid-column-gap: 45px;
}

.officer_img {
  flex: 1;
}

.card_info {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  width: 160px;
  line-height: 20px;
}

.numbers {
  position: absolute;
  width: 100px;
  height: 400px;
  left: 800px;
  top: 2280px;
}

.national {
  position: absolute;
  width: 366px;
  height: 120px;
  left: 940px;
  top: 2280px;

  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;

  color: #000000;
}

/*-----------------------EVENTS CSS------------------------*/
.event_caption {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  margin: auto;

  color: #000000;

  display: flex;
  align-items: left;
  padding-left: 120;
  width: auto;
}

.gcal {
  border: 0;
  width: 550px;
  height: 400px;
  display: flex;
  align-items: right;
  mask-border: 0;
  padding-top: 220px;
  padding-right: 120px;
  padding-left: 640px;
}

.calendarthing {
  position: absolute;
  left: 120px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 2px;
  padding-bottom: 13px;
  width: 62px;
  height: 62px;
  border-style: solid;
  border-radius: 10px;
  border-color: #933dd7;
}

.special_events {
  position: absolute;
  top: 920px;
  left: 120px;
  color: black;
  font-size: 19px;
  line-height: 30px;
  padding-bottom: 30px;
}

.special_event_pics {
  width: 590px;
  height: 400px;
}

.mailchimp {
  position: absolute;
  top: 1700px;
  left: 840px;
  font-family: Mulish;
}
